body {
    background-color: rgb(95, 139, 160);
    color: white;
}

h1 {
    font-weight: bolder;
    font-size: 90px;
}

.page-cont {
    height: 100vh;
}

.green {
    color: rgb(46, 252, 0);
}

.red {
    color: red;
}